@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", serif;
    background: #ececec;
}

.box-area{
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}

@media only screen and (max-width: 768px){
    .box-area{
        margin: 0 10px; 
    }

    .left-box{
        height: 100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
}

.carousel-inner div{
    height: 400px;
    object-fit:cover;
}

.sidebar{
    position: fixed;
    width:260px;
    top: 60px;
    height: 100%;
}

.chart{
    max-width: 500px;
    height: 450px;
    padding: 50px;
    margin:  0 auto;
}

.nav-item .collapse.show,
.nav-item .collapsing {
    background-color: #152e4d;
    border-radius: 5px;
    min-width: 100px;
    max-height: 150px;
    overflow-y: auto;
    position: fixed;
    margin-top: -20px;
    margin-left: 80px;
}

.dropdown-menu {
    min-width: 40px;
}